
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";

    ViewBag.Title = "Index4";
}
@section section1
{
    <h2>Section 1</h2>
}
@section section3
{
    <h2 class="couleur1 grand" id="index5">Section 3</h2>
}


<h2>Index5</h2>
