
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    <div id="div1"></div>

@section scripts{
    <script>
        $.ajax({
            type: "GET",
            url: "https://localhost:44338/api/rencontre",
            datatype: 'application/json',
            contentType: 'application/json',
            success: function (data, status) {
                if (status == "success") {
                    var reponse = "<table><table class='table'><tr><th>Domicile</th ><th>Visiteur</th><th></th><th></th><th></th></tr >";
                    for (var i in data) {
                        reponse += "<tr>" +
                            "<td>" + data[i].Equipe1 + "</td>" +
                            "<td>" + data[i].Equipe2 + "</td>" +
                            "<td>" + data[i].Score1 + "</td>" +
                            "<td>" + data[i].Score2 + "</td>" +
                            "<td><a href='/home/edit/" + data[i].Id + "'>Edit</a> | " +
                            "<a href='/home/delete/" + data[i].Id + "'>Delete</a>" + "</td></tr>";
                    }
                    reponse += "</table>";
                    $('#div1').html(reponse);
                }
            },
            error: function (xhr, status, error) {
                alert('Erreur de communication');
            }
        });
    </script>
}