@{
    ViewBag.Title = "Index2";
}

<h2>Gallerie</h2>

@using (Html.BeginForm())
{
<div>
    @Html.RadioButton("Choix", "Album", true) Albums<br />
    @Html.RadioButton("Choix", "PhotosNom") Toutes les photos par nom<br />
    @Html.RadioButton("Choix", "PhotosDate") Toutes les photos par date<hr />
    <div class="form-actions no-color">
        <input type="submit" value="Go" class="btn btn-default" />
    </div>

</div>
}