
@{
    ViewBag.Title = "Identification";
}

<h2>Identification</h2>

<table style="width:300px">
    <tr>
        <td><a class="b1" href="/home/index/1"><img src="~/images/b1.png"/></a></td>
        <td><a class="b1" href="/home/index/2"><img src="~/images/b2.png"/></a></td>
        <td><a class="b1" href="/home/index/3"><img src="~/images/b3.png"/></a></td>
    </tr>         
    <tr>          
        <td><a class="b1" href="/home/index/4"><img src="~/images/b4.png"/></a></td>
        <td><a class="b1" href="/home/index/5"><img src="~/images/b5.png"/></a></td>
        <td><a class="b1" href="/home/index/6"><img src="~/images/b6.png"/></a></td>
    </tr>         
    <tr>          
        <td><a class="b1" href="/home/index/7"><img src="~/images/b7.png"/></a></td>
        <td><a class="b1" href="/home/index/8"><img src="~/images/b8.png"/></a></td>
        <td><a class="b1" href="/home/index/9"><img src="~/images/b9.png"/></a></td>
    </tr>         
    <tr>          
        <td><a class="b1" href="/home/index/#"><img src="~/images/bD.png"/></a></td>
        <td><a class="b1" href="/home/index/0"><img src="~/images/b0.png"/></a></td>
        <td><a class="b1" href="/home/index/!"><img src="~/images/bE.png"/></a></td>
    </tr>
</table>